@model List<SpeedyWheelsSales.Application.Features.Ad.Queries.GetFavouriteAds.DTOs.FavouriteAdDto>

@{
    ViewData["Title"] = "Favourite ads";
}

<div class="row">
    @if (Model.Any())
    {
        @foreach (var favAd in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    @if (favAd.PhotoDtos.Any())
                    {
                        <img src="@favAd.PhotoDtos.FirstOrDefault(x => x.IsMain).Url" class="card-img-top" alt="Car Photo">
                    }
                    @if (favAd.IsSold)
                    {
                        <div class="sold-overlay">SOLD at @favAd.SoldAt</div>
                    }
                    @if (favAd.IsDeleted)
                    {
                        <div class="sold-overlay">DELETED</div>
                    }
                    <div class="card-body">
                        <h5 class="card-title">@favAd.CarDto.Model</h5>
                        <p class="card-text">Price: $@favAd.CarDto.Price</p>
                        <p class="card-text">Mileage: @favAd.CarDto.Mileage miles</p>
                        <p class="card-text">Engine Size: @favAd.CarDto.EngineSize</p>
                        <a href="@Url.Action("GetAdDetails", "Ad", new { id = favAd.AdId })" class="btn btn-primary">View Details</a>
                        <form asp-controller="Ad" asp-action="ToggleFavourite" method="post">
                            <input type="hidden" name="adId" value="@favAd.AdId"/>
                            <button type="submit" class="btn btn-success">Remove from favorites</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <p>No favourite ads found.</p>
    }
</div>