@model List<SpeedyWheelsSales.Application.Features.Ad.Queries.GetFavouriteAds.DTOs.FavouriteAdDto>

@{
    ViewData["Title"] = "Favourite ads";
}

<div class="row">
    @foreach (var ad in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@ad.PhotoDtos.FirstOrDefault(x => x.IsMain).Url" class="card-img-top" alt="Car Photo">
                <div class="card-body">
                    <h5 class="card-title">@ad.CarDto.Model</h5>
                    <p class="card-text">Price: $@ad.CarDto.Price</p>
                    <p class="card-text">Mileage: @ad.CarDto.Mileage miles</p>
                    <p class="card-text">Engine Size: @ad.CarDto.EngineSize</p>
                    <a href="@Url.Action("GetAdDetails", "Ad", new { id = ad.Id })" class="btn btn-primary">View Details</a>
                    <form asp-controller="Ad" asp-action="ToggleFavourite" method="post">
                        <input type="hidden" name="adId" value="@ad.Id"/>
                        <button type="submit" class="btn btn-success">Remove from favorites</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>