@using Domain.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AdListViewModel

@{
    ViewData["Title"] = "Ads";

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/css/styles.css">
}

<div class="container">
    <div class="accordion mb-4" id="filterAccordion">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters">
                    Filter ads
                </button>
            </h2>
            <div id="collapseFilters" class="accordion-collapse collapse" aria-labelledby="headingFilters" data-bs-parent="#filterAccordion">
                <div class="accordion-body">
                    <form id="saveSearchForm" method="post" action="@Url.Action("SaveSearch", "SavedSearch")">
                        <div class="form-row">
                            <div class="col-md-4 mb-2">
                                <select id="sort" name="sortColumn" class="form-control">
                                    <option value="">-- Sort by --</option>
                                    <option value="price">Sort By Price</option>
                                    <option value="mileage">Sort By Mileage</option>
                                    <option value="createdat">Sort By Creation Date</option>
                                    <option value="manufacturedate">Sort By Manufacture Date</option>
                                </select>
                            </div>
                            <div class="col-md-4 mb-2">
                                <select id="order" name="sortOrder" class="form-control">
                                    <option value="">-- Sort order --</option>
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Descending</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 mb-2">
                                <input type="text" id="city" name="city" class="form-control" placeholder="City" value="@Model.AdParams.City"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="text" id="brand" name="brand" class="form-control" placeholder="Brand" value="@Model.AdParams.Brand"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="text" id="model" name="model" class="form-control" placeholder="Model" value="@Model.AdParams.Model"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="number" id="minPrice" name="minPrice" class="form-control" placeholder="MinPrice" value="@Model.AdParams.MinPrice"/>
                                <input type="number" id="maxPrice" name="maxPrice" class="form-control" placeholder="MaxPrice" value="@Model.AdParams.MaxPrice"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="number" id="maxMileage" name="maxMileage" class="form-control" placeholder="MaxMileage" value="@Model.AdParams.MaxMileage"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="number" step="0.1" id="minEngineSize" name="minEngineSize" class="form-control" placeholder="MinEngineSize" value="@Model.AdParams.MinEngineSize"/>
                                <input type="number" step="0.1" id="maxEngineSize" name="maxEngineSize" class="form-control" placeholder="MaxEngineSize" value="@Model.AdParams.MaxEngineSize"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="number" step="0.1" id="maxFuelConsumption" name="maxFuelConsumption" class="form-control" placeholder="MaxFuelConsumption" value="@Model.AdParams.MaxFuelConsumption"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <input type="number" id="minManufactureYear" name="minManufactureYear" class="form-control" placeholder="MinManufactureYear" value="@Model.AdParams.MinManufactureYear"/>
                                <input type="number" id="maxManufactureYear" name="maxManufactureYear" class="form-control" placeholder="MaxManufactureYear" value="@Model.AdParams.MaxManufactureYear"/>
                            </div>
                            <div class="col-md-4 mb-2">
                                <select id="engineType" name="engineType" class="form-control">
                                    <option value="">-- Select Engine Type --</option>
                                    @foreach (var engineType in Enum.GetValues(typeof(EngineType)))
                                    {
                                        <option value="@engineType">@engineType</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 mb-2">
                                <select id="transmission" name="transmission" class="form-control">
                                    <option value="">-- Select Transmission Type --</option>
                                    @foreach (var transmission in Enum.GetValues(typeof(Transmission)))
                                    {
                                        <option value="@transmission">@transmission</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 mb-2">
                                <select id="typeOfDrive" name="typeOfDrive" class="form-control">
                                    <option value="">-- Select Type Of Drive --</option>
                                    @foreach (var typeOfDrive in Enum.GetValues(typeof(TypeOfDrive)))
                                    {
                                        <option value="@typeOfDrive">@typeOfDrive</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 mb-2">
                                <select id="color" name="color" class="form-control">
                                    <option value="">-- Select Engine Type --</option>
                                    @foreach (var color in Enum.GetValues(typeof(Colors)))
                                    {
                                        <option value="@color">@color</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-primary rounded-pill px-3" onclick="setFormAction('@Url.Action("ListAds", "Ad")')">Apply Filters</button>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <button type="submit" class="btn btn-success rounded-pill px-3">Save Search</button>
                                }
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @if (Model.Ads.Any())
        {
            @foreach (var ad in Model.Ads)
            {
                @if (ad.IsDeleted || (ad.IsSold && ad.SoldAt < DateTime.UtcNow.AddDays(-1)))
                    continue;

                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        @if (ad.PhotoDtos.Any())
                        {
                            <img src="@ad.PhotoDtos.FirstOrDefault(x => x.IsMain)?.Url" class="card-img-top" alt="Car Photo">
                        }
                        @if (User.Identity.IsAuthenticated && ad.IsAuthor)
                        {
                            <p class="badge badge-success mb-0">Your ad</p>
                        }
                        @if (ad.IsSold)
                        {
                            <div class="sold-overlay d-flex justify-content-center align-items-center">SOLD</div>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@ad.CarDto.Brand @ad.CarDto.Model @ad.CarDto.ManufactureDate.Year</h5>
                            <p class="card-text text-left font-weight-bold text-success custom-display">
                                <i class="fa-solid fa-dollar-sign"></i> @ad.CarDto.Price.ToString("0.##")
                            </p>
                            <p class="card-text">
                                <i class="fa-solid fa-gauge-high"></i> @ad.CarDto.Mileage k km
                                <span class="float-right">
                                    <i class="fa-solid fa-location-dot"></i> @ad.City
                                </span>
                            </p>
                            <p class="card-text">
                                <i class="fa-solid fa-gas-pump"></i> @ad.CarDto.EngineType, @ad.CarDto.EngineSize L
                                <span class="float-right">
                                    <i class="fa-sharp fa-solid fa-gears"></i> @ad.CarDto.Transmission
                                </span>
                            </p>
                            <p class="badge badge-primary">
                                <i class="fa-solid fa-car"></i> @ad.CarDto.Plates
                            </p>
                            <p class="badge badge-primary float-right">
                                <i class="fa-solid fa-barcode"></i> @ad.CarDto.Vin
                            </p>
                            <p class="card-text text-muted">
                                <i class="fa-solid fa-clock"></i> @ad.CreatedAt.ToShortDateString()
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a href="@Url.Action("GetAdDetails", "Ad", new { id = ad.Id })" class="btn btn-primary rounded-pill px-3">Details</a>
                                @if (User.Identity.IsAuthenticated && !ad.IsAuthor && !ad.IsSold)
                                {
                                    string iconClass = ad.IsFavourite ? "fas fa-heart" : "far fa-heart";

                                    <form asp-controller="Ad" asp-action="ToggleFavourite" method="post">
                                        <input type="hidden" name="adId" value="@ad.Id"/>
                                        <button type="submit" class="btn btn-link">
                                            <i class="@iconClass"></i>
                                        </button>
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <p>No ads found.</p>
        }
    </div>

    <div class="pagination justify-content-center">
        @if (Model.TotalPages > 1)
        {
            <ul class="pagination">
                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    Model.AdParams.PageNumber = @i;
                    Model.AdParams.PageSize = Model.ItemsPerPage;
                    <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("ListAds", "Ad", Model.AdParams)">
                            @i
                        </a>
                    </li>
                }
            </ul>
        }
    </div>
</div>

<script>
    function setFormAction(action) {
        document.getElementById('saveSearchForm').action = action;
        document.getElementById('saveSearchForm').submit();
    }
</script>