@model UserProfileViewModel

@{
    ViewData["Title"] = $"{Model.UserProfileDto.Name}'s Profile";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@Model.UserProfileDto.PhotoUrl" class="card-img-top" alt="User Photo">
                <div class="card-body">
                    <h5 class="card-title">@Model.UserProfileDto.Name</h5>
                    <p class="card-text">@Model.UserProfileDto.Location</p>
                    <p class="card-text">@Model.UserProfileDto.Bio</p>
                    <p class="card-text">Registered: @Model.UserProfileDto.RegisterDate.ToShortDateString()</p>
                </div>

                @if (Model.IsOwner)
                {
                    <form asp-controller="Profile" asp-action="UpdateProfile" method="get">
                        <button type="submit" class="btn btn-primary">Edit profile</button>
                    </form>
                }
            </div>
        </div>
        <div class="col-md-8">
            <h2>Active ads</h2>
            @if (Model.UserProfileDto.AdDtos.Any())
            {
                foreach (var ad in Model.UserProfileDto.AdDtos)
                {
                    @if (!ad.IsDeleted && !ad.IsSold)
                    {
                        <div class="card mb-4">
                            <img src="@ad.PhotoDtos.FirstOrDefault(x => x.IsMain).Url" class="card-img-top" alt="Car Photo">
                            <div class="card-body">
                                <h5 class="card-title">@ad.CarDto.Brand @ad.CarDto.Model</h5>
                                <p class="card-text">Description: @ad.Description</p>
                                <p class="card-text">City: @ad.City</p>
                                <p class="card-text">Created: @ad.CreatedAt.ToShortDateString()</p>
                                @if (ad.IsSold)
                                {
                                    <div class="sold-overlay">SOLD</div>
                                }
                            </div>
                            <a href="@Url.Action("GetAdDetails", "Ad", new { id = ad.Id })" class="btn btn-primary">View Details</a>

                            @if (Model.IsOwner)
                            {
                                <form asp-controller="Ad" asp-action="GetUpdateAdView" method="get">
                                    <input type="hidden" name="adId" value="@ad.Id"/>
                                    <button type="submit" class="btn btn-warning">Edit ad</button>
                                </form>

                                <form asp-controller="Ad" asp-action="GetDeleteAdView" method="post">
                                    <input type="hidden" name="adId" value="@ad.Id"/>
                                    <button type="submit" class="btn btn-danger">Delete ad</button>
                                </form>

                                <form asp-controller="Ad" asp-action="GetMarkAdAsSoldView" method="get">
                                    <input type="hidden" name="adId" value="@ad.Id"/>
                                    <button type="submit" class="btn btn-success">Mark as sold</button>
                                </form>
                            }
                        </div>
                    }
                }
            }
            else
            {
                <p>No active ads found.</p>
            }

            <div class="accordion" id="archivedAdsAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="archivedAdsHeading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseArchivedAds" aria-expanded="true" aria-controls="collapseArchivedAds">
                            Archived Ads
                        </button>
                    </h2>
                    <div id="collapseArchivedAds" class="accordion-collapse collapse" aria-labelledby="archivedAdsHeading" data-bs-parent="#archivedAdsAccordion">
                        <div class="accordion-body">
                            @if (Model.UserProfileDto.AdDtos.Any(ad => ad.IsDeleted || ad.IsSold))
                            {
                                foreach (var ad in Model.UserProfileDto.AdDtos)
                                {
                                    if (ad.IsDeleted || ad.IsSold)
                                    {
                                        <div class="card mb-4">
                                            <img src="@ad.PhotoDtos.FirstOrDefault(x => x.IsMain).Url" class="card-img-top" alt="Car Photo">
                                            <div class="card-body">
                                                <h5 class="card-title">@ad.CarDto.Brand @ad.CarDto.Model</h5>
                                                <p class="card-text">Description: @ad.Description</p>
                                                <p class="card-text">City: @ad.City</p>
                                                <p class="card-text">Created: @ad.CreatedAt.ToShortDateString()</p>
                                                @if (ad.IsDeleted)
                                                {
                                                    <div class="sold-overlay">DELETED</div>
                                                }
                                                @if (ad.IsSold)
                                                {
                                                    <div class="sold-overlay">SOLD</div>
                                                }
                                            </div>
                                            <a href="@Url.Action("GetAdDetails", "Ad", new { id = ad.Id })" class="btn btn-primary">View Details</a>
                                        </div>
                                    }
                                }
                            }
                            else
                            {
                                <p>No archived ads found.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>