@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SpeedyWheelsSales.Application.Features.Profile.Queries.GetUserProfile.DTOs.UserProfileDto
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Edit profile"];
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center">@Localizer["Edit profile"]</h2>
            <form asp-action="UpdateProfile" method="post" id="editProfileForm">
                <div class="input-group mb-3">
                    <span class="input-group-text">@Localizer["Name"]</span>
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required maxlength="50">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">@Localizer["Location"]</span>
                    <input type="text" class="form-control" id="Location" name="Location" value="@Model.Location" required maxlength="50">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">@Localizer["Bio"]</span>
                    <textarea class="form-control" id="Bio" name="Bio" required maxlength="250">@Model.Bio</textarea>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">@Localizer["Email"]</span>
                    <input type="email" class="form-control" id="Email" name="Email" value="@Model.Email" required maxlength="50">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">@Localizer["Phone number"]</span>
                    <input type="tel" class="form-control" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" required maxlength="50" pattern="[0-9]{10,14}">
                </div>
                <button type="submit" class="btn btn-success rounded-pill px-3" style="width: 100%;">@Localizer["Save Changes"]</button>
            </form>
            <form asp-controller="Profile" asp-action="GetProfile" method="get">
                <button type="submit" class="btn btn-secondary rounded-pill mt-2" style="width: 100%;">@Localizer["Cancel"]</button>
            </form>
        </div>
    </div>
</div>